<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-policy-heading" jhiTranslate="insuranceClaimMicroserviceApp.policy.home.createOrEditLabel">Create or edit a Policy</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insuranceClaimMicroserviceApp.policy.startDate" for="field_startDate">Start Date</label>
                    <input type="text" class="form-control" name="startDate" id="field_startDate"
                           formControlName="startDate"/>
                    <div *ngIf="editForm.get('startDate')!.invalid && (editForm.get('startDate')!.dirty || editForm.get('startDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insuranceClaimMicroserviceApp.policy.endDate" for="field_endDate">End Date</label>
                    <input type="text" class="form-control" name="endDate" id="field_endDate"
                           formControlName="endDate"/>
                    <div *ngIf="editForm.get('endDate')!.invalid && (editForm.get('endDate')!.dirty || editForm.get('endDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insuranceClaimMicroserviceApp.policy.premium" for="field_premium">Premium</label>
                    <input type="text" class="form-control" name="premium" id="field_premium"
                           formControlName="premium"/>
                    <div *ngIf="editForm.get('premium')!.invalid && (editForm.get('premium')!.dirty || editForm.get('premium')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('premium')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insuranceClaimMicroserviceApp.policy.deductible" for="field_deductible">Deductible</label>
                    <input type="text" class="form-control" name="deductible" id="field_deductible"
                           formControlName="deductible"/>
                    <div *ngIf="editForm.get('deductible')!.invalid && (editForm.get('deductible')!.dirty || editForm.get('deductible')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('deductible')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insuranceClaimMicroserviceApp.policy.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                           formControlName="isActive"/>
                    <div *ngIf="editForm.get('isActive')!.invalid && (editForm.get('isActive')!.dirty || editForm.get('isActive')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isActive')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insuranceClaimMicroserviceApp.policy.timestamp" for="field_timestamp">Timestamp</label>
                    <input type="text" class="form-control" name="timestamp" id="field_timestamp"
                           formControlName="timestamp"/>
                    <div *ngIf="editForm.get('timestamp')!.invalid && (editForm.get('timestamp')!.dirty || editForm.get('timestamp')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('timestamp')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insuranceClaimMicroserviceApp.policy.quoteId" for="field_quoteId">Quote Id</label>
                    <select class="form-control" id="field_quoteId" name="quoteId" formControlName="quoteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="quoteOption.id === editForm.get('quoteId')!.value?.id ? editForm.get('quoteId')!.value : quoteOption" *ngFor="let quoteOption of quoteids; trackBy: trackById">{{ quoteOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
