<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-document-heading" jhiTranslate="insuranceClaimMicroserviceApp.document.home.createOrEditLabel">Create or edit a Document</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insuranceClaimMicroserviceApp.document.ref" for="field_ref">Ref</label>
                    <input type="text" class="form-control" name="ref" id="field_ref"
                           formControlName="ref"/>
                    <div *ngIf="editForm.get('ref')!.invalid && (editForm.get('ref')!.dirty || editForm.get('ref')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ref')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insuranceClaimMicroserviceApp.document.policy" for="field_policy">Policy</label>
                    <select class="form-control" id="field_policy" name="policy" formControlName="policy">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="policyOption.id === editForm.get('policy')!.value?.id ? editForm.get('policy')!.value : policyOption" *ngFor="let policyOption of policies; trackBy: trackById">{{ policyOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
