<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="quote">
            <h2><span jhiTranslate="insuranceClaimMicroserviceApp.quote.detail.title">Quote</span> {{ quote.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="insuranceClaimMicroserviceApp.quote.ref">Ref</span></dt>
                <dd>
                    <span>{{ quote.ref }}</span>
                </dd>
                <dt><span jhiTranslate="insuranceClaimMicroserviceApp.quote.startDate">Start Date</span></dt>
                <dd>
                    <span>{{ quote.startDate }}</span>
                </dd>
                <dt><span jhiTranslate="insuranceClaimMicroserviceApp.quote.endDate">End Date</span></dt>
                <dd>
                    <span>{{ quote.endDate }}</span>
                </dd>
                <dt><span jhiTranslate="insuranceClaimMicroserviceApp.quote.premium">Premium</span></dt>
                <dd>
                    <span>{{ quote.premium }}</span>
                </dd>
                <dt><span jhiTranslate="insuranceClaimMicroserviceApp.quote.iPT">I PT</span></dt>
                <dd>
                    <span>{{ quote.iPT }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/quote', quote.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
